@model List<HumberAreaHospitalProject.Models.Speciality>
@{
    ViewBag.Title = "Add";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <section>
            <h2>Add a Doctor</h2>
            <a href="/Doctor/List" class="btn btn-primary">Back to List</a>
        </section>
        <main id="main_content">
            <form method="post" action="/Doctor/New">
                <div class="form-group">
                    <label for="doctortitle" class="col-sm-2 col-form-label">Title</label>
                    <input type="text" id="doctortitle" class="form-control" name="doctortitle" />
                </div>
                <div class="form-group">
                    <label for="doctorfname" class="col-sm-2 col-form-label">First Name</label>
                    <input type="text" id="doctorfname" class="form-control" name="doctorfname" />
                </div>
                <div class="form-group">
                    <label for="doctorlname" class="col-sm-2 col-form-label">Last Name</label>
                    <input type="text" id="doctorlname" class="form-control" name="doctorlname" />
                </div>
                <div class="form-group">
                    <label for="speciality" class="col-sm-2 col-form-label">Speciality</label>
                    <select id="speciality" name="speciality" class="form-control">
                        @{

                            foreach (var speciality in Model)
                            {
                                <option value="@speciality.SpecialityID">@speciality.Name</option>
                            }
                        }
                    </select>
                </div>
                <div class="inpfield">
                    <input type="submit" class="btn btn-primary" value="Add Doctor" />
                </div>
            </form>
        </main>


    </div>
</body>
</html>
