@model List<HumberAreaHospitalProject.Models.Question>

@{
    ViewBag.Title = "List";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Survey Form</title>
</head>
<body>
    
    <div>
        <form method="post">
            @{
                foreach (var question in Model)
                { <div>
                        <div class="form-group">@question.QuestionText</div>
                        
                        <div class="form-group">
                            <textarea rows="2" cols="90"name="ResponseText"></textarea>
                        </div>
                        <input type="hidden" name="Count" id="Count" value="@question.QuestionID" />
                    </div>
                }

            }
            
            <input type="submit" class="btn btn-primary" value="submit" />
        </form>

    </div>
</body>
</html>
