body {
    padding-top: 50px;
    padding-bottom: 20px;
    box-sizing:border-box;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.item-container{
    margin-top:20px;
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.item{
    display:flex;
    justify-content:space-between;
    flex-basis:30%;
    padding:20px;
    background-color:darkgray;
    margin-top:20px;

}
.info,.controls{
    margin-top:20px;
}
.control-button{
    margin-right:30px;
}
.doctor-list {
    flex-basis: 30%;
    padding: 20px;
    background-color: darkgray;
    margin-top: 20px;
}
.doctor-list div{
    padding:10px;
}

.aside {
    padding: 40px;
    height: 80%;
    width: 240px;
    position: fixed;
    left:0;
    background-color: lightsteelblue;
    /*z-index: 1;*/
}
/*
        z-index: 1;
*/
#search_form {
    margin: 0.5em 0;
}

#searchkey{
    display: inline;
    width: auto;
}

.row.head{
    font-size:1.2em;    
    font-weight:bold;
}

.table .row{
    border-bottom: 1px solid rgb(157, 153, 153);
}

.table .row:nth-child(n+2):hover{
    background-color: rgb(202, 202, 202);
}

