@model HumberAreaHospitalProject.Models.Question
@{
    ViewBag.Title = "Update";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <h2>Edit Details for @Model.QuestionText</h2>
    <a href="/Question/List" class="btn btn-primary">Back to List</a>
    <div>
        <form method="post" action="/Question/Update/@Model.QuestionID">
            <div class="info">
                <label for="QuestionText">Text: </label>
                <input type="text" name="QuestionText" id="QuestionText" value="@Model.QuestionText" />
            </div>
            <div class="controls">
                <input type="submit" class="btn btn-primary" value="Update" />
            </div>
        </form>

    </div>
</body>
</html>


