@model HumberAreaHospitalProject.Models.Question
@{
    ViewBag.Title = "View";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Details for @Model.QuestionText</h2>
        <div>
            <a href="/Question/List" class="btn btn-primary">Back to List</a>
            <a href="/Question/Update/@Model.QuestionID" class="btn btn-primary">Update</a>
            <a href="/Question/Delete/@Model.QuestionID" class="btn btn-danger">Delete</a>
        </div>
        <div class="info">
            <div>Text: @Model.QuestionText</div>
        </div>

    </div>
</body>
</html>


