@model List<HumberAreaHospitalProject.Models.FAQ>
@{
    ViewBag.Title = "List";
}

<h2>List of FAQ</h2>
<div>
    <a href="/FAQ/New" class="btn btn-primary" style="float:right">ADD FAQ</a>
</div>

<table id="mytable" class="table table-bordred table-striped">
    <thead>
    <th>QUESTION</th>
    <th>ANSWER</th>
    <th>CATEGORY</th>
    <th>EDIT </th>
    <th>DELETE </th>
    </thead>
    <tbody>
        @{
            foreach (var FAQ in Model)
            {
                <tr>
                    <td><span><a href="/FAQ/Show/@FAQ.FAQID">@FAQ.FAQQuestion</a></span></td>
                    <td><span>@FAQ.FAQAnswer</span></td>
                    <td><span>@FAQ.FAQCategory</span></td>
                    <td> <span><a href="/FAQ/Update/@FAQ.FAQID"><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>   </a></span></td>
                    <td><span><a href="/FAQ/Delete/@FAQ.FAQID"><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>   </a></span></td>
                </tr>
            }
        }
    </tbody>
</table>
<div class="text-center">
    @{
        <a href="/FAQ/List?pagenum=@((int)ViewData["pagenum"]-1)&jobsearchkey=@ViewData["jobsearchkey"]">Prev</a>
        @ViewData["pagesummary"]
        <a href="/FAQ/List?pagenum=@((int)ViewData["pagenum"]+1)&jobsearchkey=@ViewData["jobsearchkey"]">Next</a>
    }
</div>