@model HumberAreaHospitalProject.Models.ViewModels.UpdateFAQController
@{
    ViewBag.Title = "Add";
}

    <h2>Update</h2>
<div class="navbar">
    <a class="navlink" href="/FAQ/List">Back to List</a>
</div>
<form method="POST" action="/FAQ/New">
  

        <div class="form-group">
            <label class="col-sm-2 col-form-lable">Category</label>
            <select id="categoryID" type="text"  class="form-control" name="FAQCategoryID">
                @{
                
                    foreach (var FAQCategory in Model.FAQCategory)
                    {
                        var selected = "";
                        if (Model.FAQ.FAQCategoryID == FAQCategory.FAQCategoryID)
                        {
                            selected = "selected";
                        }
                        <option value="@FAQCategory.FAQCategoryID" @selected> @FAQCategory.FAQCategoryName</option>

                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-lable">FAQ QUESTION</label>
            <textarea class="form-control" cols="20" name="FAQQuestion"  value="@Model.FAQ.FAQQuestion" rows="2"></textarea>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-lable">FAQ ANSWER</label>
            <textarea class="form-control" cols="20" name="FAQAnswer value="@Model.FAQ.FAQAnswer" rows="2"></textarea>
        </div>
       
        <div class="inpfield">
            <input type="submit" value="UPDATE">
        </div>
</form>

