h1
{
    text-align: center;
    font-family: Aldhabi;
    color: #1c7430;
}
p
{
    color: #4e555b;
    padding-left: 150px;
    padding-right: 150px;
}
#last_line
{
    padding-left: 200px;
}
img
{
    margin-left: 300px;
}