h1
{
    text-align: center;
}
table
{
    margin-left: 510px;
    margin-top: 50px;
}
#table_head
{
    background-color: #0b2e13;
    color:white;
}
#table_row
{
    background-color: #1c7430;
    color:white;
}