@model List<HumberAreaHospitalProject.Models.FAQCategory>

@{
    ViewBag.Title = "List";
}

<h2>List of Categories</h2>
<div>
    <a href="/FAQCategory/New" class="btn btn-primary" style="float:right">Add Category</a> <!--button to  add new Category-->
</div>
<table id="mytable" class="table table-bordred table-striped">
    <thead>

    <th>NAME</th>
    <th>EDIT</th>
    <th>DELETE</th>
    </thead>
    <tbody>
        @{ //Rendering  loop to retrieve and display allCategories in table cells
            foreach (var FAQCategory in Model)
            {
                <tr>
                    <td><span><a href="/FAQCategory/Show/@FAQCategory.FAQCategoryID">@FAQCategory.FAQCategoryName</a></span></td><!-- link to individual category display page-->
                    <!--Button To Edit Category-->
                    <td> <span><a href="/FAQCategory/Update/@FAQCategory.FAQCategoryID"><p data-placement="top" data-toggle="tooltip" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" data-target="#edit"><span class="glyphicon glyphicon-pencil"></span></button></p>   </a></span></td>
                    <!--Button To Delete Category-->
                    <td><span><a href="/FAQCategory/Delete/@FAQCategory.FAQCategoryID"><p data-placement="top" data-toggle="tooltip" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p>   </a></span></td>
                </tr>
            }
        }
    </tbody>
</table>