@model HumberAreaHospitalProject.Models.Speciality
@{
    ViewBag.Title = "Delete";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Are you sure you want to delelte the record of @Model.Name?.</h2>
        <h2>If not please go back to the list</h2>
        <a href="/Speciality/List" class="btn btn-primary">Back to List</a>
        <div class="info">Name:@Model.Name</div>
        <div class="controls">
            <form method="post" action="/Speciality/Delete/@Model.SpecialityID">
                <input type="submit" class="btn btn-danger" value="Delete" />
            </form>
        </div>

    </div>
</body>
</html>
