@model HumberAreaHospitalProject.Models.Speciality
@{
    ViewBag.Title = "View";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2>Details for @Model.Name</h2>
        <div class="navbar">
            <a href="/Speciality/List" class="btn btn-primary">Back to List</a>
            <a href="/Speciality/Update/@Model.SpecialityID" class="btn btn-primary">Update</a>
            <a href="/Speciality/Delete/@Model.SpecialityID" class="btn btn-danger">Delete</a>
        </div>
            <div class="info">
                <div>Name: @Model.Name</div>
            </div>

        </div>
</body>
</html>

